[submodule "React-Calculator"]
	path = React-Calculator
	url = https://github.com/ShubhamBhavsar101/React-Calculator.git
[submodule "Simple-Java-Maven-App"]
	path = Simple-Java-Maven-App
	url = https://github.com/ShubhamBhavsar101/simple-java-maven-app.git
